* {
    font-family: "Roboto";
    overflow-x: hidden;
}

header {
    position: sticky;
    font-size: 25px;
    background-color: white;
    top: 0;
}

nav {
    display: block;
    float: right;
    padding: 40px;
}

nav a {
    color: black;
    margin: 20px;
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 305px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: darkblue;
    padding-top: 30px;
}

.sidenav a {
    color: white;
    display: block;
    font-size: 25px;
    position: static;
    margin-top: 30px;
    margin-left: 30px;
    text-decoration: none;
}

picture {
    margin-left: 20%;
    display: flex;
}

picture img {
    border: 0.5px solid green;
}

section {
    position: relative;
}

.main_content {
    margin-left: 20%;
}

footer {
    background-color: grey;
    text-align: center;
}

footer>p {
    color: white;
}